# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development configuration
.env

# Logs
*.log
logs/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Miscellaneous
*.swp
.DS_Store
dist/index.html

# Build artifact
dist/
