body {
  font-family: Open Sans, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* old browsers */
  height: 100dvh;
  /* new browsers */
}

div#app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  /* old browsers */
  height: 100dvh;
  /* new browsers */
}

p {
  margin: 8px 0;
}

.title {
  display: flex;
  height: 44px;
  background-color: #007AFF;
  /* iOS blue color */
  color: #fff;
  /* white text color */
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 44px;
  min-width: 0;
  flex-grow: 1;
}

/* Style for mobile devices */
@media screen and (max-width: 768px) {
  .title {
    height: 60dp;
    padding: 0 60dp;
  }
}

.title-text {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-wrapper {
  display: flex;
}

.menu-button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

.menu-button:hover {
  background-color: #0059B2;
}

.menu-button svg {
  fill: #000;
  width: 24px;
  height: 24px;
}

.menu-items {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.menu-items.show {
  display: block;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.chat-container {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-container.chat-loading::after {
  content: '';
  height: 16px;
  width: 71px;
  display: block;
  background-image: url("/loading-16.gif");
  background-repeat: no-repeat;
  background-position: center;

  /* chat-bubble styles */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  display: table;
  clear: both;
  position: relative;
}

.chat-bubble {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  display: table;
  clear: both;
  position: relative;
}

.chat-bubble.chat-bubble-left::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f0f0f0 transparent;
}

.chat-bubble.chat-bubble-right {
  background-color: #dcf8c6;
  float: right;
}

.chat-bubble.chat-bubble-right::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -6px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #dcf8c6 transparent;
}

.chat-bubble>pre {
  margin: 0;
}

.input-container {
  flex-shrink: 0;
  padding: 10px;
  background-color: #ddd;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
}

code {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 5px;
  display: block;
  position: relative;
  min-width: 40px;
}

/* Copy button for code blocks */
pre>code:hover::after,
pre>code:active::after {
  content: "\2398 ";
  position: absolute;
  top: -10px;
  right: 4px;
  padding: 2px 8px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

/* Make "small" code elements display on the same line */
p>code,
li>code {
  display: inline;
  padding: 0 4px;
}