<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./main.css">

    <script defer src="https://cdn.jsdelivr.net/npm/marked@11.1.0/marked.min.js"
        integrity="sha384-+pBQSmYtEXC3hQ5VUaVCf29+iZoVJLtwOW9Wf/iFxETwDke401fmC3cesoWnEI3r"
        crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="./main.js"></script>
</head>

<body>
    <div class="title-wrapper">
        <div class="title">
            <div class="title-text">Ask Gemini</div>
        </div>
        <button class="menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
            <div class="menu-items">
                <div class="menu-item">Reset</div>
            </div>
        </button>
    </div>
    <div class="chat-container">
        <div class="chat-bubble chat-bubble-left">Hello, how can I assist you?</div>
        <div class="chat-bubble chat-bubble-left">Sure, I can help with that.</div>
        <div class="chat-bubble chat-bubble-right">Hi, I would like to ask something</div>
        <div class="chat-bubble chat-bubble-left"><code>aaaaaaaaa</code></div>
    </div>
    <div class="input-container">
        <form id="chat-form">
            <input class="input-field" type="text" placeholder="Ask something..." id="input-field">
            <input type="submit" style="display: none;">
        </form>
    </div>
</body>
